#pickGames, .btn-group{
	font-family: Copperplate Gothic;
	font-weight: bold;
}

#picks_submit{
	font-family: Copperplate Gothic;
	font-weight: bold;
}

.btn-group{
	padding-left: 8%;
}



#gdp-content{
	font-size: 24px;
	font-family: Copperplate Gothic;
	font-weight: bold;
	text-align: left;	
	text-shadow: 2px 2px 3px #FFF;
	float:left;
	padding-top: 5%;
	margin-top: 2.5%;
	margin-bottom: 1%; 
	color:#000;
	
}

#pick-games-link{
	margin-top: 10%;
}

footer{
	clear:both;
	background-color:000;
	padding-top:0.5%;
	padding-bottom:0.5%;
	color:white;
}

#gdp-foot{
	margin: 1% auto;
	padding-right: 5%;
	text-align: right;
	font-size: .85em;
	color: white;
}

.modal-header, .modal-title, .modal-body,.modal-footer{
	background:black;
	opacity: .9;
	font-family: Copperplate Gothic;
	color:#FFF;
	display: block;
	float: none;
	text-align: center;
}
.modal-body input{
	color: #000;
	font-family: Calibri bold;
	text-align: left;
}

#defaultPicks{
	margin:2%;
	float:left;
}

#week_links{
	margin: 1%;
	padding-left: 15px;
	font-family: Copperplate Gothic;
	color: #FFF;
	background: #000;

}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }




